<div class="col-md-5 sign-gd-two">
  <h4>Store <span>Information</span></h4>
  <div class="w3-address">
    <div class="w3-address-grid">
      <div class="w3-address-left">
        <i class="fa fa-phone" aria-hidden="true"></i>
      </div>
      <div class="w3-address-right">
        <h6>Phone Number</h6>
        <p>+1 234 567 8901</p>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="w3-address-grid">
      <div class="w3-address-left">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </div>
      <div class="w3-address-right">
        <h6>Email Address</h6>
        <p>Email :<a href="mailto:example@email.com"> mail@example.com</a></p>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="w3-address-grid">
      <div class="w3-address-left">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </div>
      <div class="w3-address-right">
        <h6>Location</h6>
        <p>Broome St, NY 10002,California, USA.</p>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
