<div class="banner_bottom_agile_info">
	<div class="container">
	  <div class="agile-contact-grids">
			<div class="agile-contact-left">
				<div class="col-md-6 address-grid">
					<h4>For More <span>Information</span></h4>
						<div class="mail-agileits-w3layouts">
							<i class="fa fa-volume-control-phone" aria-hidden="true"></i>
							<div class="contact-right">
								<p>Telephone </p><span>+91 (100)222-23-33</span>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="mail-agileits-w3layouts">
							<i class="fa fa-envelope-o" aria-hidden="true"></i>
							<div class="contact-right">
								<p>Mail </p><a href="mailto:fatehsingh.sunny5@gmail.com">fatehsingh.sunny5@gmail.com</a>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="mail-agileits-w3layouts">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							<div class="contact-right">
								<p>Location</p><span>7784 Diamonds street, California, US.</span>
							</div>
							<div class="clearfix"> </div>
						</div>
						<%= render 'shared/social_shared' %>
					</div>
					<div class="col-md-6 contact-form">
						<h4 class="white-w3ls">Contact <span>Form</span></h4>
						<%= render 'form' , locals: {contact: @conatct } %>
					</div>
				</div>
			<div class="clearfix"> </div>
		</div>
  </div>
</div>
