<!-- /banner_bottom_agile_info -->
<div class="page-head_agile_info_w3l" style= 'background-image: url(<%= image_url "inner1.jpg" %>)'>
		<div class="container">
			<h3>C<span>ontact Us </span></h3>
			<!--/w3_short-->
				 <div class="services-breadcrumb">
						<div class="agile_inner_breadcrumb">

						   <ul class="w3_short">
								<li><a href="index.html">Home</a><i>|</i></li>
								<li>Contact</li>
							</ul>
						 </div>
				</div>
	   <!--//w3_short-->
	</div>
</div>
<!--/contact-->
<%= render 'section-1'  %>

<%= render 'section-2' %>

<%= render 'section-3'  %>

 <!--//contact-->
